<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Список місць{% endblock %}

{% block content %}
<h1>Список місць</h1>

<!-- Ваша інформація про місця -->
   <ul>
        {% for place in places %}
            <li>
                <h2><a href="{% url 'place_details' place.id %}">{{ place.name }}</a></h2>
                <p>Місто: {{ place.city }}</p>
                <p>Вмістимість: {{ place.capacity }}</p>

                <!-- Додавання фотографії місця, якщо вона доступна -->
                {% if place.photo %}
                    <img src="{{ place.photo }}" alt="{{ place.name }} Photo" width="200">
                {% else %}
                    <p>Фото недоступно</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">На головну</a>

<div id="map" style="width: 100%; height: 400px;"></div>

<script>
  let map;
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 50, lng: 20 },
      zoom: 3.2
    });

    var places = [{% for place in places %}
      {
        name: "{{ place.name }}",
        lat: {{ place.lat }},
        lng: {{ place.lng }},
      },
      {% endfor %}];

    for (var i = 0; i < places.length; i++) {
      var place = places[i];
      var marker = new google.maps.Marker({
        position: { lat: place.lat, lng: place.lng },
        map: map,
        title: place.name
      });
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbCzGsAHX87x7ZALEZRuU95oQ9LYAqIDw&libraries=places&callback=initMap" async defer></script>
</body>
</html>
{% endblock %}
